* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    /* aspect-ratio: 16 / 9; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: gray;
    color: black;
    /* border: .25rem solid white; */
    align-items: center;
    text-align: center;
    max-height: 5vh;
    /* border: .5rem solid white; */
    min-height: 10vh;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#bodySub{
    /* max-width: 100rem; */
    min-width: 50rem;
    /* min-height: 99.5vh; */
}

button {
    margin: .5rem;
    width: 8rem;
    height: 3rem;
    border-radius: .75em;
}
button:hover {
    background-color: whitesmoke;
}
/* ------------- Box Containing the Display ---------- */
#box {
    /* position: relative; */
    /* opacity: 85%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    border: .5rem solid white;
    /* border-bottom: .25rem solid white; */
    border-radius: .5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 50em;
    width: 98%;
    /* width: 99.75%; */
    /* align-items: center; */
}

/* ------------- Zorkington Text ------------- */
p {
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 3rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

        /* ----- Display Console Text Box --------- */
#displayTextBox {
    margin-top: 7rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(189, 189, 39);
    border: .25rem black solid;
    border-radius: 1em;
    min-height: 32rem;
    width: 36rem;
}

#displayText {
    margin-top: 1rem;
    width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    width: 98%;
    border: .5rem solid white;
    align-items: center;
}

#inputText {
    /* display: block; */
    /* opacity: initial; */
    border-top: 0;
    /* padding: 1em; */
    margin: 1rem;
    border-radius: 1em;
    border: .15rem solid black;
    /* min-height: 5.75rem; */
    /* min-width: 97.75vw; */
    /* width: 49rem; */
    width: 70%;
    height: 3rem;
    font-size: x-large;
    text-align: center;
    background-color: rgb(208, 208, 208);
}

/* ---------- Directionals and Common Command Buttons ---------- */
#directionalsAndButtonsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5rem solid white;
    border-top: 0;
    width: 98%;
}

#spacer {
    height: 2rem;
}
#directionals {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* position: absolute; */
    /* text-align: center; */
    /* top: 5rem; */
    /* bottom: 5rem; */
    /* height: 2em; */
    /* border: .5rem solid; */
    /* width: 10vw; */
    /* background-color: black; */
    /* align-items: center; */
}


/* ----------- Common Commands Buttons Box ------- */
#commands {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* -------------- Common Commands Buttons ------------------- */
#commands > button {
    font-size: 1vw;
    padding: .25vw;
    margin: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 25%;
    font-size: larger;
}

/* #directionals > button {
    /* color: red; */
    /* align-items: center; 
    text-align: center;
} */
/* #North {
    position: absolute;
    bottom: 18%;
}

#South {
    position: absolute;
    bottom: 10%;
}

#East{
    position: absolute;
    right: 32%;
    bottom: 10%;
}

#West {
    position: absolute;
    left: 32%;
    bottom: 10%;
} 
*/
#submit-btn{
    display: none;
}